{% extends "base.html" %} 
{% block title %}ideiasverdes.pt{% endblock %}
        {% block content %}
    <div class="container">
        

        <div class="accordion" id="accordion">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Sustentabilidade
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordion">
                    <div class="accordion-body">
                        Conforme a U.S. Environmental Protection Agency define o conceito de sustentabilidade passa por ter em conta tudo o que nos é “necessário para sobreviver e para o nosso bem-estar" e entender que isso depende “diretamente ou indiretamente do nosso ambiente natural”. (Agency, s.d.)

Ou conforme é definido pela World Commission on Environment and Development que pertence as Nações Unidas , que a sustentabilidade “é uma atividade de desenvolvimento económico que procura ir ao encontro das necessidades do presente, sem comprometer a habilidade de futuras gerações conseguirem alcançar as suas necessidades”. (University of California, s.d.) 
<br>
<br>
O conceito de sustentabilidade esta ligado as futuras gerações, pois a nossa interação com os recursos do planeta não devem ser apenas a pensar a curto prazo, mas sim na sua reutilização ou reposição para que estejam disponíveis para as futuras gerações a longo prazo garantindo assim a prosperidade e o equilíbrio da qualidade de vida das gerações. (University of California, s.d.) 
<br>
<br>
Para alcançarmos a sustentabilidade é necessário “criar e manter condições onde os humanos e a natureza possam existir de forma produtiva e harmoniosa para suportar as gerações presente e futuras”. (Portney, 2015)
<br>
<br>
Os 3 elementos da sustentabilidade:
<br>
A sustentabilidade esta divida em partes iguais por outros 3 fatores, o ambiente, a economia, e a equidade. O objetivo passa então por “proteger o ambiente, preservar o crescimento e desenvolvimento económico, e promover a equidade.” Só atingindo estes 3 pontos é que se pode considerar que algo é sustentável ou atingiu a sustentabilidade. (Portney, 2015)

                    </div>
                </div>
            </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingtow">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsetow" aria-expanded="true" aria-controls="collapsetow">
                            Net Zero
                        </button>
                    </h2>
                <div id="collapsetow" class="accordion-collapse collapse" aria-labelledby="headingtow" data-bs-parent="#accordion">
                    <div class="accordion-body">
                        Conforme o projeto Net Zero Climate sediado na universidade de Oxford define, net zero trata-se de um estado em que a quantidade de emissões de gases libertadas para a atmosfera se anulam igualmente e proporcionalmente com a quantidade removida de emissões de gases através dos reservatórios, quando o resultado da diferença entra as emissões e das remoções for zero é nessa altura que se atinge o Net Zero. (Zero, s.d.)
                        <br><br>
                        Ainda é referido pelo projeto que deve existir uma real atenção a forma como é feita a captação das emissões uma vez que em circunstâncias de “destruição florestal ou armazenamento inapropriado" as emissões podem retornar a atmosfera, devendo assim a sua captação ser permanente. (Zero, s.d.)
                        <br><br>
                        O Objetivo – Conforme o Painel Intergovernamental sobre Mudanças Climáticas concluiu existir a necesside de alcançar Net Zero até 2050 para manter o aquecimento global em 1,5ºC, todos os esforços devem ser feitos para coletivamente alcancarmos um planeta Net Zero até 2050. (IPCC, 2021)
                        
                    </div>
                </div>
            </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading3">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="true" aria-controls="collapse3">
                            Ação Individual
                        </button>
                    </h2>
                <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3" data-bs-parent="#accordion">
                    <div class="accordion-body">
                        Por vezes uma ação individual pode parecer uma gota no oceano, porem quando combinada com outros indivíduos ganha uma proporção diferente, pois a forma como “escolhemos comer, viajar, usar energias nas nossas casas, votar e falar das nossas ideologias”, têm um papel muito importante e influente nos políticos e líderes, conseguindo com a sua responsabilidade reproduzir e moldar a sociedade realizando essas ações a uma “escala global”. (Count-us-in, s.d.)
                        <br><br>
                        O agente Moral e os deveres individuais: 
                        Conforme Elizabeth Cripps explica no livro “Climate Change and the Moral Agent: Individual Duties in an Interdependent World”, as ações individuais na resolução do aquecimento global caem sobre um dilema filosófico, pois a necessidade de agir recai num dever moral, e em que consiste um dever moral para cada um de nós? O certo é que devemos ter em conta os todos os seres vivos e os sistemas naturais. (Cripps, 2013)
                        <br><br>
                        Elizabeth Cripps refere ainda que apesar do desafio ser grande o mesmo não justifica a não ação, e acrescenta que “o nosso dever coletivo agora não é só em agir, mas também em encontrar maneiras de decidir como agir”. (Cripps, 2013)
                        
                    </div>
                </div>
            </div>
            
        </div>
    </div>
        
        {% endblock %}